{% extends "admin/partials/base.admin.html.twig" %}

{% block title %}Add Movie{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 mx-auto">
      <div class="card card-body bg-light">
      <h2>Add Movie</h2>
      <p>Please fill in this form to add a movie to the movie database</p>
    <form action="{{baseUrl}}/admin/movies/add" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control form-control-lg" id="title" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="release_year">Release Year</label>
        <input type="number" name="release_year" class="form-control form-control-lg" id="release_year">
      </div>
      <div class="form-group">
        <label for="director_id">Director</label>
        <select name="director_id" class="form-control form-control-lg" id="director_id">
        {% for director in directors %}
        <option value="{{ director.id_artist }}">{{ director.firstname_artist }} {{ director.lastname_artist }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Movie image input</label>
        <input type="file" name="poster" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea name="synopsis" class="form-control form-control-lg" id="synopsis" rows="3" placeholder="Synopsis"></textarea>
      </div>
      <div class="form-group">
        <label for="genre_id">Genre</label>
        <select name="genre_id" class="form-control form-control-lg" id="genre_id">
        {% for genre in genres %}
          <option value="{{ genre.id_genre }}">{{ genre.genre }}</option>
        {% endfor %}
        </select>
      </div>
      <button type="submit" name="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>
  </div>
  </div>
  </div>
  </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}