{% extends "partials/base.html.twig" %}

{% block title %}Movies Database{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 class="text-danger text-center mt-5 mb-4">Your Favorite Movies Database</h1>

<div class="container">
  <div class="row pt-4">
    {% for movies in allMovies %}
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card text-white bg-dark mb-4 m-3">
        <a href="{{baseUrl}}/movies/show/{{movies.movie_id}}"><img src='{{baseUrl}}/Uploads/posters/{{ movies.poster }}' class="card-img-top b-0"></a>
        <div class="card-body">
          <h5 class="card-title">{{ movies.title }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}