{% extends "partials/base.html.twig" %}

{% block title %}Movies Database{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 class="text-danger text-center mb-4">Your Favorite Movies Database</h1>
<div class="back_page">
  <div class="container">
    <div class="row pt-4">
      {% for movies in allMovies %}
      <div class="col-md-4">
        <div class="card text-white bg-dark mb-4 m-3">
          <a href="{{baseUrl}}/movies/show/{{movies.movie_id}}"><img src='{{baseUrl}}/Uploads/posters/{{ movies.poster }}' class="card-img b-0"></a>
          <div class="card-body">
            <h5 class="card-title">{{ movies.title }}</h5>
            {# <p class="card-text">{{ exemple.synposis }}</p> #}
            {# <a href="{{baseUrl}}/show/{{exemple.id_film}}" class="btn btn-info">Show</a> #}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}