{% extends "partials/base.html.twig" %}

{% block title %}Movies Database{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ baseUrl }}/assets/css/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1>Your Favorite Movies Database</h1>
<div class="back_page">
  <div class="container">
    <div class="row pt-4">
      {% for example in result %}
      <div class="col-md-3">
        <div class="card text-white bg-dark mb-4">
          <a href="{{baseUrl}}/movies/show/{{example.movie_id}}"><img src='../Uploads/posters/{{ example.poster }}' class="card-img b-0"></a>
          <div class="card-body">
            <h5 class="card-title">{{ example.title }}</h5>
            {# <p class="card-text">{{ exemple.synposis }}</p> #}
            {# <a href="{{baseUrl}}/show/{{exemple.id_film}}" class="btn btn-info">Show</a> #}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}