{% extends "admin/admin.home.html.twig" %}

{% block title %}Movies Database{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 class="text-danger text-center mt-5 mb-4">Your Favorite Movies Database</h1>
<div class="back_page">
  <div class="container">
    <div class="row pt-4">
      {% for movie in getAllMovies %}
      <div class="col-md-3">
        <div class="card text-white bg-dark mb-4">
          <img src='/Uploads/posters/{{ movie.poster }}' class="card-img b-0">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <div class="btn-group">
              <a href="{{baseUrl}}/admin/movies/updatemovie/{{movie.movie_id}}" class="btn btn-sm btn-outline-secondary">Update</a>
              <a href="{{baseUrl}}/admin/movies/deletemovie/{{movie.movie_id}}" class="btn btn-sm btn-outline-secondary">Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}