{% extends "partials/base.html.twig" %}

{% block title %}Add Movie{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ baseUrl }}/assets/css/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1>Add Movie</h1>
<div class="container">
  <div class="row"> 
    <form action="{{baseUrl}}/movies/updatemovies/{{ movieDetails.id_film }}" method="POST" class="mx-auto" enctype="multipart/form-data">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" value="{{ movieDetails.titre }}">
      </div>
      <div class="form-group">
        <label for="annee_sortie">Annee de sortie</label>
        <input type="number" name="annee_sortie" class="form-control" id="annee_sortie" value="{{ movieDetails.annee_sortie }}">
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <select name="director" class="form-control" id="director">
          <option value="{{ director.id_artiste }}">{{ director.prenom_artiste }} {{ director.nom_artiste }}</option>
          {% for directorRow in directors %}
          <option value="{{ directorRow.id_artiste }}">{{ directorRow.prenom_artiste }} {{ directorRow.nom_artiste }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Movie image input</label>
        <img src="/Uploads/posters/{{ movieDetails.affiche }}" width="350">
        <input type="file" name="affiche" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea name="synopsis" class="form-control" id="synopsis" rows="6" placeholder="Synopsis" >{{ movieDetails.synposis }}</textarea>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <select name="genre" class="form-control" id="genre">
          {# The genre for the selected movie #}
          <option value="{{ genre.id_genre }}">{{ genre.nom_genre }}</option>
          {# All other genres #}
          {% for genreRow in genres %}
          <option value="{{ genreRow.id_genre }}">{{ genreRow.nom_genre }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" name="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}