{% extends "partials/base.html.twig" %}

{% block title %}Add Movie{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ baseUrl }}/assets/css/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="row mt-5 mb-4">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card card-body bg-light">
        <h2>Update movie {{ movieDetails.title }}</h2>
        <p>Please fill in this form to update the movie</p>
    <form action="{{baseUrl}}/movies/updatemovies/{{ movieDetails.id_film }}" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" name="titre" class="form-control" id="titre" aria-describedby="emailHelp" value="{{ movieDetails.title }}">
      </div>
      <div class="form-group">
        <label for="annee_sortie">Annee de sortie</label>
        <input type="number" name="annee_sortie" class="form-control" id="annee_sortie" value="{{ movieDetails.release_year }}">
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <select name="director" class="form-control" id="director">
          <option value="{{ director.artist_id }}">{{ director.firstname_artist }} {{ director.lastname_artist }}</option>
          {% for directorRow in directors %}
          <option value="{{ directorRow.artist_id }}">{{ directorRow.firstname_artist }} {{ directorRow.lastname_artist }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Movie image input</label>
        <img src="/Uploads/posters/{{ movieDetails.poster }}" width="350">
        <input type="file" name="affiche" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea name="synopsis" class="form-control" id="synopsis" rows="6" placeholder="Synopsis" >{{ movieDetails.synposis }}</textarea>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <select name="genre" class="form-control" id="genre">
          {# The genre for the selected movie #}
          <option value="{{ genre.id_genre }}">{{ genre.genre }}</option>
          {# All other genres #}
          {% for genreRow in genres %}
          <option value="{{ genreRow.id_genre }}">{{ genreRow.genre }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" name="submit" class="btn btn-primary" value="Update">Update</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}