{% extends "partials/base.html.twig" %}

{% block title %}{{ movieDetails.title }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ baseUrl }}/assets/css/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 class="text-danger text-center mt-5 mb-4">Your Selected Movie</h1>
<div class="card mb-3 text-white bg-dark mx-auto" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src='/Uploads/posters/{{ movieDetails.poster }}' class="img-fluid">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ movieDetails.title }},&nbsp;{{ movieDetails.release_year }}</h5>
        <div class="card-block d-flex">
          <p><strong>Starring:</strong></p>
          <ul>
            {% for actor in actorsDetails %}
              <li class="card-text">&nbsp;{{ actor.firstname_artist }} {{ actor.lastname_artist }}{% if not loop.last %},&nbsp;{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
        <p class="card-text"><strong>Synopsis:</strong><br>{{ movieDetails.synposis }}</p>
        <a href="{{ baseUrl }}" class="btn btn-info">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
{% endblock %}