{% extends "partials/base.html.twig" %}

{% block title %}Artists Database{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="assets/css/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<h1 class="text-danger text-center mt-5 mb-4">List of Artists</h1>
<div class="back_page">
  <div class="container">
    <div class="row pt-4">
      {% for artist in allArtists %}
      <div class="col-md-3">
        <div class="card text-white bg-dark mb-4">
          <a href="{{ baseUrl }}/artists/show/{{artist.id_artist}}"><img src='{{ baseUrl }}/Uploads/artists/{{ artist.image }}' class="card-img b-0"></a>
          <div class="card-body">
            <h5 class="card-title">{{ artist.lastname_artist }} {{ artist.firstname_artist }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}